{#<tr hx-trigger='cancel' class='editing' hx-get="/contact/${contact.id}">#}
{#hx-include="closest tr" #}
<tr class="editing">
  <td><input name='name' class="w-100" value='{{ name }}'></td>
  <td>
    <button class="btn btn-danger" hx-get="/dictionaries/classes/" hx-target="#filtertable" hx-swap="innerHTML">
      Отменить
    </button>
    <button class="btn btn-danger" hx-get="/dictionaries/classes/{{ record }}/" hx-include="closest tr" hx-target="#filtertable" hx-swap="innerHTML">
      Сохранить
    </button>
  </td>
</tr>