__pycache__/
*/__pycache__/*
.gitignore
*.sqlite3

# Файлы окружения
.env
.env.local
staticfiles/

# Логи и базы данных
*.log

# Папки зависимостей
node_modules/
vendor/
.venv/
data/

# Миграции (пример для Django)
*/migrations/*
