{% load formsetify %}


{#{% load rating_tags %}#}
 <div class="modal-dialog modal-xl">
     <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Новое заведение</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
              {{ form_collection }}
              <p class="mt-3">
                <button type="button" df-click="submit -> proceed" class="btn btn-primary">Submit</button>
                <button type="button" df-click="reset" class="ms-2 btn btn-warning">Reset to initial</button>
              </p>
            </django-formset>
{#            {% render_rating_import %}#}
{#            {% render_rating request obj=object settings_slug='default-config' %}#}
{#            {% render_rating_script %}#}
          </div>
          <div class="modal-footer">
          </div>
      </div>
</div>