{% extends "minimal.html" %}
{% load formsetify %}
{% load cms_tags sekizai_tags menu_tags %}
{% load thumbnail %}

{%  block content %}
    <br>
    <div class="container">
        <div id="cardSlider" class="f-carousel mb-8 py-5">
            <div class="f-carousel__viewport">
                {% for image in images %}
                    {% thumbnail image.image 400x400 crop="smart" upscale=True as im %}
                        <figure class="f-carousel__slide">
                            <img
                                width=500
                                height=500
                                data-fancybox="gallery"
                                data-src="/media/{{ image.image }}"
                                data-lazy-src="{{ im.url }}"
                                class="mb-4 img-fluid rounded"
                                alt="Square image"
                                loading="lazy"
                            >
                        </figure>
                {% endfor %}
            </div>
        </div>

{#        <p> кафе: {{ visit.cafe_fk }}, блюда для визита: {{ visit }}#}
{#        </p>#}
            <django-formset endpoint="{{ request.path }}"{% if force_submission %} force-submission{% endif %}{% if withhold_feedback %} withhold-feedback="{{ withhold_feedback }}"{% endif %} csrf-token="{{ csrf_token }}">
                {{ form_collection }}
                <p class="mt-3">
{#                    <div class="col-6 mb-2 d-inline-block">#}

                    {% if request.user.is_authenticated %}
                                        
                        {% if edit %}
                            <button class="btn btn-primary mx-3" type="button" df-click="submit -> proceed">Обновить блюдо</button>
                        {% else %}
                            <button class="btn btn-primary mx-3" type="button" df-click="submit -> proceed">Добавить блюдо</button>
                        {% endif %}
                    
                    {% endif %}
{#                    </div>#}
                    <button class="btn btn-primary" type="button" onclick="history.back();">Отмена</button>

                </p>
            </django-formset>
    </div>
    <script>
        new Carousel(document.getElementById('cardSlider'), {
          Navigation: {
            prevTpl:
              '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11 5l-7 7 7 7"/><path d="M4 12h16"/></svg>',
            nextTpl:
              '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4 12h16"/><path d="M13 5l7 7-7 7"/></svg>',
          },

          infinite: true,
          center: false,
          slidesPerPage: 'auto',
          transition: false,
        });

    </script>

{% endblock %}