{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}

    <br>
        <div class="d-grid gap-2 col-10 mx-auto">
            <a class="btn btn-outline-primary" href="/adddish/{{ visit_id }}">
                Добавить новое блюдо
            </a>
        </div>
    <br>

    <div class="container h-auto filer-box">
        {# Search form #}

        {% if filter %}
             <form hx-get="{% url 'core:dishlist' vpk=visit_id %}" hx-target="#visitstable">
                  {% bootstrap_form filter.form layout='horizontal' size='sm' horizontal_label_class='col-sm-4' horizontal_field_class='col-sm-7' %}
                  {% bootstrap_button 'Искать' size="sm" %}
                  {{ filter.form.media }}
             </form>
        {% endif %}
    </div>



{% render_table table %}
