<div id="visitslist">

{#    <button onclick="document.location='add_new_visit'">+</button>#}
<div class="col-10 mx-auto">
    <table class="table table-striped table-hover">

        {% for item in visits %}

            <tr>
{#                <td><a hx-get="{% url 'core:edit_visit' cafe.id item.id %}"#}
                <td><a href="{% url 'core:edit_visit' cafe.id item.id %}"
                >{{ item.data }}  {{ item.description }}</a> {{ item.average_dish_rating }} </td>
            </tr>
        {#    {% url 'core:cab_cafe' item.id %}#}

        {#    <p>"Номер": {{ <item></item>id }}</p>#}

            {#    <a href="{% url 'cab_cafe' %}">кафе</a>#}
        {#    <a {% url 'cab_cafe' item.id %} >ссылка</a>#}
        {#    {% url 'core:cafes' cafe.id %}#}


        {% endfor %}

    </table>
</div>
{#    <form  method="POST">#}
{##}
{#        {% csrf_token %}#}
{#        {{ visitform.as_p }}#}
{##}
{#        <button type="submit" class="btn btn-success" >Сохранить</button>#}
{#        <button id="cancelkey" onclick="javascript:history.go(-1);">Отмена</button>#}
{##}
{#    </form>#}

</div>