{% extends "minimal.html" %}
{% load formsetify %}
{% load render_table from django_tables2 %}
{% load thumbnail %}


{%  block content %}
    <div id="cab">
        <div class="bg-secondary">
        <div class="container py-3">
            <div id="cardSlider" class="f-carousel mb-8 py-3 bp-0">
                <div class="f-carousel__viewport">
                    {% for image in images %}
                        {% thumbnail image.image 400x400 crop="smart" upscale=True as im %}
                            <figure class="f-carousel__slide">
                                <img
                                    width=500
                                    height=500
                                    data-fancybox="gallery"
                                    data-src="/media/{{ image.image }}"
                                    data-lazy-src="{{ im.url }}"
                                    class="mb-4 img-fluid rounded"
                                    alt="Square image"
                                    loading="lazy"
                                >
                            </figure>
                    {% endfor %}
                </div>
            </div>
            <div id="capbtitle" class="container">
                <p>
                    <h3 class="text-center">
                    Кабинет кафе: {{ object.cafe_fk }}
                    </h3>
                </p>
            </div>
        </div>
        </div>
    

    <nav>
        <div class="nav nav-tabs nav-justified custom_tab_style1" id="myTab" role="tablist">
            <a href="/cafe/{{ visitmodel.cafe_fk.id }}/?way=list" class="nav-link" id="back-tab" type="button" role="tab" aria-controls="home" aria-selected="true">Назад</a>
            {% if way == 'list' %}
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Описание визита</button>
            <button class="nav-link active" id="visits-tab" data-bs-toggle="tab" data-bs-target="#visitstable" type="button" role="tab" aria-controls="visits" aria-selected="false">Список блюд визита</button>
            {% else %}
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Описание визита</button>
            <button class="nav-link" id="visits-tab" data-bs-toggle="tab" data-bs-target="#visitstable" type="button" role="tab" aria-controls="visits" aria-selected="false">Список блюд визита</button>
            {% endif %}            
        </div>
    </nav>

    <div class="tab-content" id="myTabContent">
        {% if way == 'list' %}
        <div id="home" class="container tab-pane fade" role="tabpanel" aria-labelledby="home-tab">
        {% else %}
        <div id="home" class="container tab-pane show active" role="tabpanel" aria-labelledby="home-tab">
        {% endif %}    
              <div>
                  {% if add %}    
                    <h2 class="modal-title">Новый визит</h2>
                  {% else %}
                    <h2 class="modal-title">Визит {{ object.data }}</h2>
                  {% endif %}
              </div>
              <div>
                <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
                  {{ form_collection }}
                  <p class="mt-3">
                      {% if request.user.is_authenticated %}
                        <button type="button" df-click="submit -> proceed" class="btn btn-primary">Сохранить</button>
                      {% endif %}  
                      <button type="button" df-click="reset" class="ms-2 btn btn-warning">Начальные значения</button>
                  </p>
                </django-formset>
              </div>
        </div>

        {% if way == 'list' %}
        <div id="visitstable" class="container h-auto tab-pane show active" role="tabpanel" aria-labelledby="visits-tab">
        {% else %}
        <div id="visitstable" class="container h-auto tab-pane fade" role="tabpanel" aria-labelledby="visits-tab">
        {% endif %}    
        <p hx-get="/disheslist/{{ visitmodel.id }}" hx-vals='{"visit":"{{  visitmodel.id }}" }' tx-target="#cafetable" hx-swap="outerHTML" hx-trigger="load">
        </p>
            {#        {% render_table table %}#}
        </div>
    </div>
    </div>
    <script>
        new Carousel(document.getElementById('cardSlider'), {
          Navigation: {
            prevTpl:
              '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11 5l-7 7 7 7"/><path d="M4 12h16"/></svg>',
            nextTpl:
              '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4 12h16"/><path d="M13 5l7 7-7 7"/></svg>',
          },

          infinite: true,
          center: false,
          slidesPerPage: 'auto',
          transition: false,
        });

        const isStaff = {{ request.user.is_staff|yesno:"true,false" }};         
        document.addEventListener('DOMContentLoaded', function () {
          if (!isStaff) {
              const elements = document.querySelectorAll('[title="Add"].add-collection');
              elements.forEach(el => el.remove());
          }
        });        
    </script>

{% endblock %}