{% extends "minimal.html" %}
{% load formsetify %}
{% load render_table from django_tables2 %}

{%  block content %}
    <div id="cab">
        <div id="capbtitle" class="container">
            <p>
                Кабинет кафе: {{ object.cafe_fk }}
            </p>
        </div>

    <nav>
        <div class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <a href="/cafe/{{ visitmodel.cafe_fk.id }}/?way=list" class="nav-link" id="back-tab" type="button" role="tab" aria-controls="home" aria-selected="true">Назад</a>
            {% if way == 'list' %}
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Описание визита</button>
            <button class="nav-link active" id="visits-tab" data-bs-toggle="tab" data-bs-target="#visitstable" type="button" role="tab" aria-controls="visits" aria-selected="false">Список блюд визита</button>
            {% else %}
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Описание визита</button>
            <button class="nav-link" id="visits-tab" data-bs-toggle="tab" data-bs-target="#visitstable" type="button" role="tab" aria-controls="visits" aria-selected="false">Список блюд визита</button>
            {% endif %}            
        </div>
    </nav>

    <div class="tab-content" id="myTabContent">
        {% if way == 'list' %}
        <div id="home" class="container tab-pane fade" role="tabpanel" aria-labelledby="home-tab">
        {% else %}
        <div id="home" class="container tab-pane show active" role="tabpanel" aria-labelledby="home-tab">
        {% endif %}    
              <div>
                  {% if add %}    
                    <h2 class="modal-title">Новый визит</h2>
                  {% else %}
                    <h2 class="modal-title">Визит {{ object.data }}</h2>
                  {% endif %}
              </div>
              <div>
                <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
                  {{ form_collection }}
                  <p class="mt-3">
                    <button type="button" df-click="submit -> proceed" class="btn btn-primary">Сохранить</button>
                    <button type="button" df-click="reset" class="ms-2 btn btn-warning">Начальные значения</button>
                  </p>
                </django-formset>
              </div>
        </div>

        {% if way == 'list' %}
        <div id="visitstable" class="container h-auto tab-pane show active" role="tabpanel" aria-labelledby="visits-tab">
        {% else %}
        <div id="visitstable" class="container h-auto tab-pane fade" role="tabpanel" aria-labelledby="visits-tab">
        {% endif %}    
        <p hx-get="/disheslist/{{ visitmodel.id }}" hx-vals='{"visit":"{{  visitmodel.id }}" }' tx-target="#cafetable" hx-swap="outerHTML" hx-trigger="load">
        </p>
            {#        {% render_table table %}#}
        </div>
    </div>
    </div>

{% endblock %}