<!DOCTYPE html>{% load cms_tags menu_tags sekizai_tags static i18n %}{% spaceless %}
    <html lang="{{ LANGUAGE_CODE }}" style="height: 100%;">
        <head>
            <meta charset="utf-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
            {% if request.get_host == "critifood.ru" or request.get_host == "www.critifood.ru" %}
                <meta name="yandex-verification" content="2c76750968f1bb97" />
            {% endif %}
            {% block meta %}
<!--                <meta name="description" content="{% page_attribute meta_description %}"/>-->
                <meta property="og:type" content="website"/>
                <meta property="og:title" content="{% page_attribute "page_title" %}"/>
                <meta property="og:description" content="{% page_attribute meta_description %}"/>
            {% endblock meta %}
            {% block canonical_url %}
                <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
                <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
            {% endblock canonical_url %}
            {% block fb_meta %}{% endblock fb_meta %}
            <title>CritiFood — обзоры ресторанов и блюд</title>
            <meta name="description" content="CritiFood — честные обзоры ресторанов, вкусных блюд. Читайте отзывы, сравнивайте меню и выбирайте лучшее для себя.">
            {% block base_css %}{% endblock %}
{% endspaceless %}{% render_block 'css' %}{% spaceless %}
    {% block page_head %}{% endblock %}
        <style>
            html, body {
                height: 100%;
                margin: 0;
            }
            body {
                display: flex;
                flex-direction: column;
            }
            main {
                flex: 1 0 auto;
            }
            footer {
                flex-shrink: 0;
            }
        </style>

    </head>
    <body {% block body_attrs %}{% endblock %}>
{% endspaceless %}{% spaceless %}
    {% block navbar %}{% endblock %}
    {% include 'navbar.html' %}
    <main>
    {% block content %}
        {% placeholder "Content" %}
    {% endblock content %}
    </main>
    {% block footer %}{% endblock %}
    {% include 'footer.html' %}
    {% block modal %}
    {% endblock modal %}
    {% block base_js %}{% endblock %}
{% endspaceless %}{% render_block 'js' %}{% spaceless %}
    {% block end_js %}{% endblock %}
    {% block bottom_css %}{% endblock %}
    </body>
    </html>{% endspaceless %}
