{% extends "base.html" %}
{% load static cms_tags sekizai_tags menu_tags %}

{% block body_attrs %}
    data-bs-theme = "light"
{% endblock %}


{% block base_css %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <script src="{% url 'javascript-catalog' %}"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous" media="screen">
    <link href="{% static 'css/bootstrap-utilities.css' %}" rel="stylesheet" crossorigin="anonymous" media="screen">
    <link href="{% static 'formset/css/bootstrap5-extra.css' %}" rel="stylesheet" crossorigin="anonymous" media="screen">
    <link href="{% static 'formset/css/collections.css' %}" rel="stylesheet" crossorigin="anonymous" media="screen">
    <script type="module" src="{% static 'formset/js/django-formset.js' %}"></script>
    <link href="{% static 'css/mycss.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'css/star.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'css/fancybox.css' %}" rel="stylesheet" crossorigin="anonymous"/>
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet" crossorigin="anonymous"/>
    <script src="/static/js/fancybox.umd.js"></script>
    <script src="/static/js/carousel.umd.js"></script>
    <link href="{% static 'css/mycss.css' %}" rel="stylesheet" crossorigin="anonymous">
{#    <link rel="stylesheet" href="{% static 'location_field/css/location_field.css' %}">#}

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css' crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>

{#    <script src="https://api-maps.yandex.ru/v3/?apikey=34ef8275-9774-4800-9455-5446cb279bc0&lang=ru_RU"></script>#}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=395b3750-9b9d-4e2d-9ff4-e87ccd5b6794&lang=ru_RU" type="text/javascript"></script>
{% endblock %}

{% block base_js %}
        <script src="/static/js/htmx.min.js"></script>
        <script>
              document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
              })
        </script>

    <!--bootstrap working-->
    <script src="/static/js/bootstrap.bundle.js"></script>
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>#}
    <script src="/static/js/list.js"></script>
    <script src="/static/js/sort.js"></script>


    <script>
       Fancybox.bind('[data-fancybox]', {
        caption: (fancybox, slide) => {
          const caption = slide.caption || "";

          return `<br /> ${caption}`;
        },
      });
	 </script>

{#    <script src="{% static 'location_field/js/vanillapicker.js' %}"></script>#}
{#    <script>#}
{#        window.locationFieldsOptions = {#}
{#            provider: "yandex",#}
{#            map_zoom: 13,#}
{#            language: "ru"#}
{#        };#}
{#    </script>#}
{#    <script src="{% static 'location_field/js/form.js' %}"></script>#}

{% endblock %}
{#{% block iommi_top %}#}
{#{% endblock %}#}
{% block content %}
    {% placeholder "Content" %}
{% endblock content %}
{% block modal %}
{% endblock modal %}

