{% load djangocms_stories i18n easy_thumbnails_tags cms_tags %}

        {% if image and post_content.post.main_image %}
            <figure>
                {% thumbnail post_content.post.main_image post_content.post.thumbnail_options.size crop=post_content.post.thumbnail_options.crop upscale=post_content.post.thumbnail_options.upscale subject_location=post_content.post.main_image.subject_location as main_image %}
                <a href="{% absolute_url post_content %}">
                <img src="{{ main_image.url }}" alt="{{ post.main_image.default_alt_text }}" class="">
                </a>
                <figcaption>
                    <a class="text-decoration-none text-reset" href="{% absolute_url post_content %}">{{ post_content.title }} </a>
                </figcaption>
            </figure>
        {% else %}
            {% media_images post_content as previews %}
            <div class="blog-visual">
              {% for preview in previews %}<img src="{{ preview }}" />{% endfor %}
            </div>
        {% endif %}
        {% block post_meta %}
            {% block blog_meta %}
                {% include "djangocms_stories/includes/post_meta.html" %}
            {% endblock %}
        {% endblock %}
    </header>
</article>
